@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root{
    --dark-gray: rgba(177, 169, 169, 0.8);
    --weight: 600;
    --spacing-size-one: .25em;
    --spacing-size-two: 1em;
    --spacing-size-three: 2em;
}

.line-x{
    opacity: 0;
}

.bxs-up-arrow,
.bxs-down-arrow{
    padding-right: var(--spacing-size-one);
}

span{
    display: block;
}

i{
    font-size: 1.5em;
}

body{
    font-family: 'Inter', sans-serif;
}

/*-------- Paínel de conteúdo (SECTION) --------*/
.content-dashboard{
    padding: 2.5em 7em;
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

body.dark{
    background-color: #191c25;
}

body.dark .followers-number,
body.dark .page-view-content,
body.dark .title-page-view,
body.dark h2{
    color: #fff;
}

.checkbox{
    opacity: 0;
}

.label{
    display: flex;
    align-items: center;
    background-color: rgba(151, 148, 148, 1);
    border-radius: var(--spacing-size-two);
    padding-left: var(--spacing-size-one);
    height: 30px;
    width: 60px;
}

body.dark .label{
    background: linear-gradient(to right, #21bce7, #5cdb69);
}

.ball{
    width: 22px;
    height: 22px;
    border-radius: var(--spacing-size-two);
    background-color: #fff;
    transition: all .2s linear;
}

body.dark .ball{
    background-color:rgb(71, 71, 71);
}

.checkbox:checked + .label .ball{
    transform: translateX(1.85em);
}

.followers{
    color: var(--dark-gray);
    font-weight: var(--weight);
}

body.dark .content-dark-mode{
    color: var(--dark-gray);
}

.media-content-one{
    margin: var(--spacing-size-three) 0 3em 0;
}

.media-followers{
    background-color: #F0F2FA;
    margin: .5em auto;
    text-align: center;
    height: 250px;
    width: 265px;
}

.media-followers, 
.page-view-content{
    transition: all .5s ease;
}

.media-followers:hover,
.page-view-content:hover{
    box-shadow: 1px 1px 10px 0 rgb(71, 71, 71);
}

body.dark .media-followers,
body.dark .page-view-content{
    background-color: #25293E;
}

.media-followers-one{
    border-top: var(--spacing-size-one) solid #0e90f2;
}

.media-followers-one i,
.page-view-content-one .bxl-facebook-square{
    color: #0e90f2;
}

.media-followers-two{
    border-top: var(--spacing-size-one) solid #1d9bf0;
}

.media-followers-two i,
.page-view-content-three .bxl-twitter{
    color: #1d9bf0;
}

.media-followers-three{
    border-top: var(--spacing-size-one) solid red;
    border-image: -webkit-gradient(linear, right top, left top,
    from(#ff4b2b), to(#ff416c));
    border-image-slice: 1;
}

.media-followers-three i,
.page-view-content-two .bxl-instagram{
    color: transparent;
    background: linear-gradient(#ff4b2b, #ff416c);
    background-clip: text;
}

.media-followers-four{
    border-top: var(--spacing-size-one) solid #E60023;
}

.media-followers-four i,
.page-view-content-four .bxl-pinterest{
    color: #E60023;
}

.flex-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-size-one);
    padding-top: var(--spacing-size-two);
}

.social-media-name{
    color: var(--dark-gray);
    font-weight: var(--weight);
}

.content-followers{
    padding: var(--spacing-size-three) 0 var(--spacing-size-one) 0;
}

.followers-number{
    font-size: 3em;
    font-weight: var(--weight);
}

.subtitle-followers{
    color: var(--dark-gray);
    letter-spacing: .5em;
}

.plus-followers{
    color: #31af4f;
    font-weight: var(--weight);
}

.less-followers{
    color: #e73f3f;
    font-weight: var(--weight);
}

/* ------ MEDIA CONTENT TWO ------*/
.title-page-view{
    margin-bottom: var(--spacing-size-two);
}

.page-view-content{
    background-color: #F0F2FA;
    border-radius: .5em;
    margin: .5em auto;
    padding: 0 1.5em;
    height: 150px;
    width: 270px;
}

.page-view-content h3{
    font-size: 1.5em;
}

.page-view-content div:first-child{
    margin: var(--spacing-size-three) 0;
}

.page-view-content div:last-child .bx,
.media-followers .flex-media .bxs-up-arrow{
    color: #31af4f;
    font-size: var(--spacing-size-two);
}

.page-view-content-four div:last-child .bx,
.page-view-content-one div:last-child .bxs-down-arrow,
.media-followers .flex-media .bxs-down-arrow{
    color: #e73f3f;
    font-size: var(--spacing-size-two);
}

@media(max-width: 754px){

    .content-dashboard{
        padding: var(--spacing-size-three);
    }

    .media-followers,
    .page-view-content{
        width: 100%;
    }

    .line-x{
        opacity: 1;
        width: 100%;
        margin: var(--spacing-size-two) 0;
        background-color: var(--dark-gray);
    }

    .content-dark-mode{
        width: 100%;
    }
}
